<div class="container-fluid">
  <div class="row bg-dark login-columns-container">
    <div class="col-6 p-0">
      <div class="colum-1">
        <div class="left-item">
          <div>
            <img src="/assets/images/gsrc-logo.png" alt="gsrc-logo">
            <p class="text-center">GOBIERNO SUB REGIONAL CHANKA</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6 p-0">
      <div class="colum-2">
        <div class="right-item">
          <div>
            <div class="text-center">
              <h1>Bienvenido!</h1>
              <span>Inicia sesión usando tu usuario y contraseña.</span>
            </div>
            <form class="pt-4">
              <div class="input">
                <input type="text" class="input-field" required/>
                <label class="input-label">Usuario</label>
              </div>
              <div class="input">
                <input type="password" class="input-field" required/>
                <label class="input-label">Contraseña</label>
              </div>
              <div class="action pt-5">
                <a routerLink="/home" class="login-button">Ingresar &nbsp;<i class="fas fa-sign-in-alt"></i></a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>