<div class="container-fluid">
  <div class="row bg-dark">
    <!-- Left Column -->
    <div class="col-6 p-0">
      <div class="colum cl">
        <div class="left-item">
          <div>
            <img src="/assets/images/gsrc-logo.png" alt="GSRC-logo">
            <p class="text-center">GOBIERNO SUB REGIONAL CHANKA</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Right Column -->
    <div class="col-6 p-0">
      <div class="colum cr">
        <div class="right-item">
          <div>
            <!-- Title -->
            <div class="text-center">
              <h1>Bienvenido!</h1>
              <span>Inicia sesión usando tu usuario y contraseña.</span>
            </div>
            <!-- Form -->
            <form class="pt-2" (ngSubmit)="loginUser()" #loginForm="ngForm">
              <div class="input">
                <input type="text" id="user" name="user" class="input-field" [(ngModel)]="credentials.user" required/>
                <label class="input-label">Usuario</label>
              </div>
              <div class="input">
                <input type="password" id="password" name="password" class="input-field" [(ngModel)]="credentials.password" required/>
                <label class="input-label">Contraseña</label>
              </div>
              <!-- Alert -->
              @if (errorMessage) {
                <div class="alert-container text-center">
                  <p class="text-danger mb-0">{{ errorMessage }}</p>
                </div>
              } @else {
                <div class="alert-container"></div>
              }
              <div class="action">
                <button type="submit">Ingresar &nbsp;<i class="fas fa-sign-in-alt"></i></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>