<form [formGroup]="registerForm" (ngSubmit)="registerUser()">
  <div>
    <label for="name">Nombre</label>
    <input id="name" formControlName="name" type="text">
    <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
      <span *ngIf="registerForm.get('name')?.errors?.['required']">El nombre es obligatorio.</span>
    </div>
  </div>
  <div>
    <label for="lastname">Apellido</label>
    <input id="lastname" formControlName="lastname" type="text">
    <div *ngIf="registerForm.get('lastname')?.invalid && registerForm.get('lastname')?.touched">
      <span *ngIf="registerForm.get('lastname')?.errors?.['required']">El apellido es obligatorio.</span>
    </div>
  </div>
  <div>
    <label for="rol">Rol</label>
    <input id="rol" formControlName="rol" type="text">
    <div *ngIf="registerForm.get('rol')?.invalid && registerForm.get('rol')?.touched">
      <span *ngIf="registerForm.get('rol')?.errors?.['required']">El rol es obligatorio.</span>
    </div>
  </div>
  <div>
    <label for="username">Correo electrónico</label>
    <input id="username" formControlName="username" type="text">
    <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched">
      <span *ngIf="registerForm.get('username')?.errors?.['required']">El nombre de usuario es obligatorio.</span>
    </div>
  </div>
  <div>
    <label for="password">Contraseña</label>
    <input id="password" formControlName="password" type="password">
    <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
      <span *ngIf="registerForm.get('password')?.errors?.['required']">La contraseña es obligatoria.</span>
      <span *ngIf="registerForm.get('password')?.errors?.['minlenght']">Mínimo 8 caracteres.</span>
    </div>
  </div>

  <button type="submit" [disabled]="registerForm.invalid">Registrar</button>

  <div *ngIf="errorMessage">
    <p>{{ errorMessage }}</p>
  </div>
</form>