<div class="app-container">
  <div class="menu-card" [ngClass]="{'collapsed': isCollapsed}">
    <!-- Logo -->
    <div class="logo-section">
      <div class="logo">
        @if (isCollapsed) {
          <span><img src="/assets/images/gsrc-logo.png" alt="GSRC-logo"></span>
        } @else {
          <span class="text-nowrap"><img src="/assets/images/gsrc-logo.png" alt="GSRC-logo">&nbsp;<b>GSR</b>Chanka</span>
        }
      </div>
    </div>
    <!-- Collapse -->
    <button class="collapse-button" (click)="toggleCollapse()">
      <div [ngClass]="{'rotate': isCollapsed}">
        <i class="fas fa-caret-left collapse-icon" ></i>
      </div>
    </button>
    <!-- Menu -->
    <div class="menu-scroll-area">
      <div *ngFor="let category of menuCategories" class="menu-category">
        <div class="category-container">
          @if (!isCollapsed) {
            <h3 class="category-title">{{ category.category }}</h3>
          } @else {
            <h3 class="category-title"><hr class="divider"></h3>
          }
        </div>
         @for (item of category.items; track $index) {
          @if (item.subItems.length === 0) {
            <button [routerLink]="item.route" class="menu-item px-3" (click)="toggleMenu(item.id)">
              <div [ngClass]="{'content': isCollapsed}">
                <span class="item-content" [ngClass]="{'my-1': isCollapsed}">
                  <i class="{{ item.icon }}"></i>
                  @if (!isCollapsed) { &nbsp;&nbsp;{{ item.label }} }
                </span>
              </div>
            </button>
          } @else {
            <button class="menu-item px-3" (click)="toggleMenu(item.id)">
              <div [ngClass]="{'content': isCollapsed}">
                <span class="item-content" [ngClass]="{'my-1': isCollapsed}">
                  <i class="{{ item.icon }}"></i>
                  @if (!isCollapsed) { &nbsp;&nbsp;{{ item.label }} }
                </span>
              </div>
              @if (!isCollapsed && item.subItems.length) { <span><i class="fas fa-caret-down"></i></span> }
            </button>
          }
          <!-- Submenú items -->
           @if (!isCollapsed && openMenus[item.id]) {
            <div class="sub-menu">
              @for (subItem of item.subItems; track $index) {
                <button class="sub-menu-item px-3">
                  {{ subItem }}
                </button>
              }
            </div>
           }
         }
      </div>
    </div>
    <!-- User -->
    <div class="user-section">
      <div class="user-card" [ngClass]="{'collapsed': isCollapsed}">
        @if (!isCollapsed) {
          <img src="https://avatar.iran.liara.run/public" alt="USER-logo">
          <div class="user-info">
            <p class="user-name text-nowrap">{{ userName }}</p>
            <p class="user-rol text-nowrap">{{ userRol }}</p>
          </div>
        }
        <button class="logout-button" (click)="logout()"><i class="fas fa-sign-out-alt"></i></button>
      </div>
    </div>
  </div>
  <!-- Content -->
  <div class="content-area w-100">
    <router-outlet></router-outlet>
  </div>
</div>